@import url("./viewHeaderLayout.css");

.app {
    display: flex;
    height: 100vh;
    -webkit-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    color: var(--white);
    background-color: #121317;
}

.header {
    padding: 16px;
    border-bottom: var(--border-solid) #24262B;
    background-color: #171A1F;
}

.header .user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .user .user_picture {
    height: 27px;
    width: 27px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #949699;
}

.header .user .user_picture img {
    height: 27px;
    width: 27px;
    filter: grayscale();
}

.header .user .user_basic_data .name,
.header .user .user_basic_data .area {
    font-size: .875rem;
    color: #FFFFFF;
}

.header .user .user_basic_data .area {
    color: #FFFFFF;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container {
    display: flex;
    height: 100%;
}

.content-container .content {
    width: 100%;
    overflow: scroll;
}

.header-button_group {
    display: flex;
    gap: 8px;
    width: fit-content;
    height: 100%;
}

.header-button_group button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 4px;
    color: var(--white);
}



/* THEME */
@media (prefers-color-scheme: light) {
    .app {
        background-color: var(--white);
        color: var(--black);
    }

    .header {
        background-color: #F4F6F7;
        border-color: #ECEEF0;
    }

    .header-button_group button {
        color: var(--black);
    }

    .header .user .user_picture {
        border: 1px solid #949699;
    }

    .header .user .user_picture img {
        filter: grayscale();
    }

    .header .user .user_basic_data .name,
    .header .user .user_basic_data .area {
        color: #939599;
    }

    .header .user .user_basic_data .area {
        color: #616368;
    }
}