@import url("utilities/variables.css");
@import url("utilities/reset.css");
@import url("./UIComponents/form/form-field.css");
@import url("./UIComponents/form/form.css");
@import url("./UIComponents/form/form-input.css");
@import url("./UIComponents/input/inputs.css");

/* Layout */
@import url("./UIComponents/layout/layout.css");
/* UI */
@import url("./UIComponents/sidebar/sidebar.css");
@import url("./UIComponents/tables/main-table.css");
@import url("./UIComponents/window/window-floater.css");
@import url("./UIComponents/drawer/drawer.css");

/* Views */
@import url("./views/login/login.css");

.toggle-data-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32px;
}

.toggle-data-container * {
    transition: 0.2s all ease-in-out;
}

.toggle-data {
    display: flex;
    background-color: #09090b;
    padding: 2px;
    border: 1px solid #2A2B2F;
    width: fit-content;
    gap: 2px;
    align-self: flex-end;
    border-radius: 50px;
}

.toggle-data button {
    font-size: 14px;
    height: 32px;
    padding: 0 8px;
    border: 1px solid transparent;
    background-color: transparent;
    color: #b5b5b5;
    border-radius: 50px;
    cursor: pointer;
}

.toggle-data button:hover {
    background-color: #191a1d;
}

.toggle-data button.active {
    background-color: #212123;
    border-color: #373839;
    color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    .toggle-data {
        background-color: #F7F8F9;
        border: 1px solid #EDEDEE;
    }

    .toggle-data button {
        color: #626468;
    }

    .toggle-data button:hover {
        background-color: #FFF;
    }

    .toggle-data button.active {
        background-color: #FFFFFF;
        border-color: #E1E2E3;
        color: #22252A;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    }
}