#content {
    display: flex;
    width: 100%;
    padding: 16px;
    padding-top: 0;
    margin-top: 0;
}

#clients-content {
    display: block;
    width: 100%;
    overflow: scroll;
}

#clients-content table {
    margin-bottom: 100px;
}

.content-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 16px;
    padding-top: 0;
    overflow: hidden !important;
    position: relative;
}