.drawer {
    display: none;
    padding: 20px;
    background-color: var(--neutral-950);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    max-width: 400px;
    height: 100%;
    z-index: 99;
    border-left: var(--border-solid) var(--neutral-900);
}

.drawer.isActive {
    display: block;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.drawer-information {
    display: flex;
    flex-direction: column;
}

.drawer-information .close {
    display: flex;
    width: fit-content;
    padding: 2px;
    font-size: 16px;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    background-color: var(--neutral-900);
    color: var(--white);
    border-radius: 4px;
    border: transparent;
    margin-bottom: 16px;
}

.drawer-data-information {
    display: flex;
    gap: 16px;
    border-top: var(--border-solid) var(--neutral-900);
    border-bottom: var(--border-solid) var(--neutral-900);
    margin: 16px 0;
    padding: 16px 0;
}

.drawer-data-information .info {
    display: flex;
    flex-direction: column;
}

.drawer-data-information .info .info-title {
    font-size: 12px;
    color: var(--neutral-300)
}

.drawer-data-information .info .info-badge {
    display: block;
    background-color: var(--blue-700);
    width: fit-content;
    padding: 4px 8px;
    font-size: 10px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 4px;
    border: var(--border-solid) var(--blue-600);
}

.drawer-data-information .info .info-content {
    display: block;
    width: fit-content;
    padding: 4px 8px;
    padding-left: 0;
    font-size: 10px;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-top: 4px;
}

.drawer-data-content {
    background-color: var(--neutral-900);
    padding: 8px;
    Border-radius: 8px;
    height: 100%;
    border: var(--border-solid) var(--neutral-800);
}

.drawer-controls {
    display: flex;
    gap: 8px;
}

.drawer-controls button {
    padding: 8px;
    width: 100%;
    border: var(--border-solid) var(--neutral-900);
    background-color: var(--neutral-950);
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

.note-information {
    height: 100%;
    width: 100%;
}

.note-information * {
    text-overflow: ellipsis !important;
}

@media (prefers-color-scheme: light) {
    .drawer {
        background-color: rgba(255, 255, 255, 1);
        border-color: var(--neutral-100);
    }

    .drawer-data-information .info .info-badge {
        background-color: var(--blue-500);
        color: var(--white);
    }

    .drawer-data-information {
        border-color: var(--neutral-100);
    }

    .drawer-controls button {
        border: var(--border-solid) var(--neutral-300);
        background-color: var(--neutral-50);
        color: var(--neutral-700);
    }

    .drawer-data-content {
        background-color: var(--neutral-100);
        border: var(--border-solid) var(--neutral-200);
    }
}