.view {
  background-image: url("../../pictures/img.jpg");
  /* Author: pawel-czerwinski-2CDRjyQw8aQ-unsplash */
  background-size: cover;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: var(--border);
  backdrop-filter: blur(8px);
  width: 50vw;
  height: 100vh;
}

.login-content {
  padding: 50px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 360px;
}

.login-content .logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.login-content .logo h4 {
  font-size: 32px;
}

.login-content .logo span {
  font-size: 10px;
}

.login-form {
  width: 100%;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  width: 100%;
}