.table-container {
    display: block;
    margin: 8px 32px;
    background-color: #1E1F23;
    border-radius: 8px;
    border: 1px solid #292A2E;
    height: fit-content;
    margin-bottom: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

thead,
tbody {
    width: 100%;
    max-width: fit-content;
}

thead tr {
    border-top: none !important;
}

table tr {
    width: 100%;
    color: #717070;
}

table td:first-child {
    color: #fff;
}

td,
th {
    text-align: left;
    padding: 8px 16px;
}

th {
    font-weight: normal;
    color: #FFF;
    background-color: transparent !important;
}

tr:hover {
    background-color: #292A2E;
}


tr {
    border-top: 1px solid #292A2E;
    border-bottom: 1px solid #292A2E;
}

.table-button_group span {
    display: flex;
    gap: 1px;
    background-color: #09090b;
    padding: 1px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
}

.table-button_group span button {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 28px;
    background-color: #414245;
    border: 1px solid #545558;
    font-size: 16px;
    color: #B3B3B5;
    cursor: pointer;
}

.table-button_group span button:hover {
    background-color: #1E1F23;
    border-color: #292A2E;
    color: #FFFFFF;
}

.table-button_group span button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-button_group span button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


@media (prefers-color-scheme: light) {
    .table-container {
        background-color: #F4F6F7;
        border: 1px solid #EBEEF0;
    }

    table tr {
        color: #717070;
    }

    table td:first-child,
    th {
        color: #22252A;
    }

    tr {
        border-color: #EBEEF0;
    }

    tr:hover {
        background-color: #FBFCFC;
    }

    .table-button_group span {
        background-color: #DCDCDC;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    }

    .table-button_group span button {
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 16px;
        color: #5e6d7a;
        cursor: pointer;
    }

    .table-button_group span button:hover {
        background-color: #f4f6f7;
        border: 1px solid #f4f6f7;
        font-size: 16px;
        color: #5e6d7a;
        cursor: pointer;
    }
}