.search {
    display: flex;
}

.search label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #0d0d0d;
    border: var(--border);
}

.search input {
    display: flex;
    height: 32px;
    background-color: #171717;
    border: var(--border);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8;
    border-top-right-radius: 8;
    border-left: transparent;
    padding-left: 8px;
}