.input-lg {
  appearance: none;
  border: var(--border);
  display: inline-block;
  outline: none;
  padding: 8px;
  height: 42px;
  font-size: 14px;
  line-height: 14px;
  background: var(--input-bg);
  width: 100%;
  border-radius: 8px;
}

.input-lg::placeholder {
  color: #8d8d8d;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  color: var(--input-label);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
}