.drawer {
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 100;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 300px;
    border-left: var(--border);

}

.drawer .client-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 100px);
    width: 100%;
}

.client-information {
    width: 100%;
}

.drawer .client-information-container .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drawer .client-information-container .close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.drawer .client-information-container .close i {
    color: white;
    font-size: 24px;
}

.drawer .client-information h1 {
    margin-bottom: 16px;
}

.drawer .client-information p {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px
}

.drawer .client-information i {
    font-size: 16px;
    color: var(--contrast)
}

.drawer .client-information h3 {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 4px 6px;
    border-bottom: var(--border)
}