/* Layout */
.sidebar-wrapper {
    display: flex;
    height: 100%;
    width: 250px;
    padding: 16px;
    background-color: #171A1F;
    border-right: var(--border-solid) #24262B;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin-bottom: 4px;
    gap: 8px;
    border-radius: 4px;
    padding: 8px;
    background-color: transparent;
    color: var(--white);
    border: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar-item .ph {
    font-size: 22px;
}

.sidebar-item:hover {
    background-color: var(--neutral-900);
    color: var(--white);
}

.sb-active-item {
    color: var(--blue-500);
}

@media (prefers-color-scheme: light) {
    .sidebar-wrapper {
        background-color: #F4F6F7;
        border-color: #ECEEF0;
    }

    .sidebar-item {
        color: #8B8D91;
    }

    .sidebar-item:hover {
        background-color: var(--neutral-100);
        color: var(--black);
    }

    .sb-active-item {
        color: var(--blue-500);
        background-color: var(--blue-50);
    }
}