.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.form-field label {
    margin-bottom: 8px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}