:root {
    --gray-50: oklch(98.5% 0.002 247.839);
    --gray-100: oklch(96.7% 0.003 264.542);
    --gray-200: oklch(92.8% 0.006 264.531);
    --gray-300: oklch(87.2% 0.01 258.338);
    --gray-400: oklch(70.7% 0.022 261.325);
    --gray-500: oklch(55.1% 0.027 264.364);
    --gray-600: oklch(44.6% 0.03 256.802);
    --gray-700: oklch(37.3% 0.034 259.733);
    --gray-800: oklch(27.8% 0.033 256.848);
    --gray-900: oklch(21% 0.034 264.665);
    --gray-950: oklch(13% 0.028 261.692);

    --red-50: oklch(97.1% 0.013 17.38);
    --red-100: oklch(93.6% 0.032 17.717);
    --red-200: oklch(88.5% 0.062 18.334);
    --red-300: oklch(80.8% 0.114 19.571);
    --red-400: oklch(70.4% 0.191 22.216);
    --red-500: oklch(63.7% 0.237 25.331);
    --red-600: oklch(57.7% 0.245 27.325);
    --red-700: oklch(50.5% 0.213 27.518);
    --red-800: oklch(44.4% 0.177 26.899);
    --red-900: oklch(39.6% 0.141 25.723);
    --red-950: oklch(25.8% 0.092 26.042);

    --orange-50: oklch(98% 0.016 73.684);
    --orange-100: oklch(95.4% 0.038 75.164);
    --orange-200: oklch(90.1% 0.076 70.697);
    --orange-300: oklch(83.7% 0.128 66.29);
    --orange-400: oklch(75% 0.183 55.934);
    --orange-500: oklch(70.5% 0.213 47.604);
    --orange-600: oklch(64.6% 0.222 41.116);
    --orange-700: oklch(55.3% 0.195 38.402);
    --orange-800: oklch(47% 0.157 37.304);
    --orange-900: oklch(40.8% 0.123 38.172);
    --orange-950: oklch(26.6% 0.079 36.259);

    --yellow-50: oklch(98.7% 0.026 102.212);
    --yellow-100: oklch(97.3% 0.071 103.193);
    --yellow-200: oklch(94.5% 0.129 101.54);
    --yellow-300: oklch(90.5% 0.182 98.111);
    --yellow-400: oklch(85.2% 0.199 91.936);
    --yellow-500: oklch(79.5% 0.184 86.047);
    --yellow-600: oklch(68.1% 0.162 75.834);
    --yellow-700: oklch(55.4% 0.135 66.442);
    --yellow-800: oklch(47.6% 0.114 61.907);
    --yellow-900: oklch(42.1% 0.095 57.708);
    --yellow-950: oklch(28.6% 0.066 53.813);

    --lime-50: oklch(98.6% 0.031 120.757);
    --lime-100: oklch(96.7% 0.067 122.328);
    --lime-200: oklch(93.8% 0.127 124.321);
    --lime-300: oklch(89.7% 0.196 126.665);
    --lime-400: oklch(84.1% 0.238 128.85);
    --lime-500: oklch(76.8% 0.233 130.85);
    --lime-600: oklch(64.8% 0.2 131.684);
    --lime-700: oklch(53.2% 0.157 131.589);
    --lime-800: oklch(45.3% 0.124 130.933);
    --lime-900: oklch(40.5% 0.101 131.063);
    --lime-950: oklch(27.4% 0.072 132.109);

    --green-50: oklch(98.2% 0.018 155.826);
    --green-100: oklch(96.2% 0.044 156.743);
    --green-200: oklch(92.5% 0.084 155.995);
    --green-300: oklch(87.1% 0.15 154.449);
    --green-400: oklch(79.2% 0.209 151.711);
    --green-500: oklch(72.3% 0.219 149.579);
    --green-600: oklch(62.7% 0.194 149.214);
    --green-700: oklch(52.7% 0.154 150.069);
    --green-800: oklch(44.8% 0.119 151.328);
    --green-900: oklch(39.3% 0.095 152.535);
    --green-950: oklch(26.6% 0.065 152.934);

    --emeral-50: oklch(97.9% 0.021 166.113);
    --emeral-100: oklch(95% 0.052 163.051);
    --emeral-200: oklch(90.5% 0.093 164.15);
    --emeral-300: oklch(84.5% 0.143 164.978);
    --emeral-400: oklch(76.5% 0.177 163.223);
    --emeral-500: oklch(69.6% 0.17 162.48);
    --emeral-600: oklch(59.6% 0.145 163.225);
    --emeral-700: oklch(50.8% 0.118 165.612);
    --emeral-800: oklch(43.2% 0.095 166.913);
    --emeral-900: oklch(37.8% 0.077 168.94);
    --emeral-950: oklch(26.2% 0.051 172.552);

    --teal-50: oklch(98.4% 0.014 180.72);
    --teal-100: oklch(95.3% 0.051 180.801);
    --teal-200: oklch(91% 0.096 180.426);
    --teal-300: oklch(85.5% 0.138 181.071);
    --teal-400: oklch(77.7% 0.152 181.912);
    --teal-500: oklch(70.4% 0.14 182.503);
    --teal-600: oklch(60% 0.118 184.704);
    --teal-700: oklch(51.1% 0.096 186.391);
    --teal-800: oklch(43.7% 0.078 188.216);
    --teal-900: oklch(38.6% 0.063 188.416);
    --teal-950: oklch(27.7% 0.046 192.524);

    --blue-50: oklch(97% 0.014 254.604);
    --blue-100: oklch(93.2% 0.032 255.585);
    --blue-200: oklch(88.2% 0.059 254.128);
    --blue-300: oklch(80.9% 0.105 251.813);
    --blue-400: oklch(70.7% 0.165 254.624);
    --blue-500: oklch(62.3% 0.214 259.815);
    --blue-600: oklch(54.6% 0.245 262.881);
    --blue-700: oklch(48.8% 0.243 264.376);
    --blue-800: oklch(42.4% 0.199 265.638);
    --blue-900: oklch(37.9% 0.146 265.522);
    --blue-950: oklch(28.2% 0.091 267.935);

    --neutral-50: oklch(98.5% 0 0);
    --neutral-100: oklch(97% 0 0);
    --neutral-200: oklch(92.2% 0 0);
    --neutral-300: oklch(87% 0 0);
    --neutral-400: oklch(70.8% 0 0);
    --neutral-500: oklch(55.6% 0 0);
    --neutral-600: oklch(43.9% 0 0);
    --neutral-700: oklch(37.1% 0 0);
    --neutral-800: oklch(26.9% 0 0);
    --neutral-900: oklch(20.5% 0 0);
    --neutral-950: oklch(14.5% 0 0);


    --white: #FFFFFF;
    --black: #000000;

    --border-dashed: 1px dashed;
    --border-dotted: 1px dotted;
    --border-solid: 1px solid;
    --border-double: 2px double;
    --border-groove: 1px groove;
    --border-ridge: 1px ridge;
    --border-inset: 1px inset;
    --border-outset: 1px outset;
    --border-hidden: 1px hidden;
    --border-none: none;

    --border-variant-1: var(--neutral-900);
    --border-variant-2: var(--neutral-800);
    --border-variant-3: var(--neutral-700);

    /* ------- TEXT ------- */
    --tf: 0.8rem;
    --tp: 1rem;
    --t6: 1.6rem;
    --t5: 2rem;
    --t4: 2.4rem;
    --t3: 3rem;
    --t2: 3.6rem;
    --t1: 4.8rem;
    --t0: 6rem;

}