table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

table thead,
table tbody {
    width: 100%;
}

table tr {
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px 8px;
}

table thead {
    background-color: transparent;
    border-top-left-radius: 4px;
    overflow: hidden;
}

table thead tr th {
    background-color: #0D0D0D;
    border-top: var(--border);
    border-bottom: var(--border);
}

table thead tr th:first-child {
    border-top-left-radius: 4px;
    border-left: var(--border);
}

table thead tr th:last-child {
    border-top-right-radius: 4px;
    border-right: var(--border);
}

tbody tr {
    border-bottom: var(--border);
}

tbody tr:hover {
    background-color: #0d0d0d;
}

tbody tr:hover td {
    color: white !important;
}

table .ph-warning {
    color: yellow;
}

table .table\:button-group {
    display: inline-flex;
    height: 34px;
    padding: 3px 0;
    gap: 4px;
}

.table\:button-group button {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 8px;
    border-radius: 8px;
    border: var(--border);
    background-color: #0d0d0d;

}

.table\:state {
    font-size: 10px;
    text-transform: uppercase;
    /* background-color: gray; */
    height: fit-content;
    padding: 2px 4px;
    border-radius: 8px;
}

.data\:enabled {
    /* background-color: #1e4f91 !important; */
    color: #4b96f8;
    /* color: white; */
}

.data\:disabled {
    color: #d12730;
    /* color: white; */
}